# vim: ft=apache noet:
#
# {{ ansible_managed }}
#

{% if service_vhost_aliases -%}
<VirtualHost *:443>
	{% for redir in service_vhost_aliases -%}
	{% if loop.first %}ServerName{% else %}ServerAlias{% endif %} {{ redir }}
	{% endfor %}

	Include "{{ httpd_ssl_conf }}"

	Redirect 301 "/" "https://{{ service_vhost_name }}/
</VirtualHost>
{% endif %}

<VirtualHost *:443>
	ServerAdmin {{ httpd_serveradmin }}
	ServerName {{ service_vhost_name }}

	Include "{{ httpd_ssl_conf }}"

	ErrorLog {{ service_base_path }}/log/error.log
	CustomLog {{ service_base_path }}/log/access.log combined

{% if service_vhost_extra %}{% include 'vhost-partial.conf.j2' %}{% endif %}

</VirtualHost>
