[db]
connstr=dbname={{ database_name_pgarchives }}

[smtp]
server=localhost:9911
heloname=localhost
resender=noreply@example.com

[pglister]
root=https://{{ service_vhost_name_pglister }}
{% if pgarchives_private is defined and pgarchives_private == 'True' %}
myname=pgarchivesprivate
subscribers=1
{% else %}
myname=pgarchives
subscribers=0
{% endif %}
apikey={{ pgarchives_secret_key }}
