        Alias /admin/css/ {{ service_base_path }}/django/lib/{{ python_version }}/site-packages/django/contrib/admin/static/admin/css/
        Alias /admin/fonts/ {{ service_base_path }}/django/lib/{{ python_version }}/site-packages/django/contrib/admin/static/admin/fonts/
        Alias /admin/img/ {{ service_base_path }}/django/lib/{{ python_version }}/site-packages/django/contrib/admin/static/admin/img/
        Alias /admin/js/ {{ service_base_path }}/django/lib/{{ python_version }}/site-packages/django/contrib/admin/static/admin/js/
        <Directory {{ service_base_path }}/django/lib/{{ python_version }}/site-packages/django/contrib/admin/static/admin/>
           Require all granted
        </Directory>

        Alias /favicon.ico {{ service_base_path }}/django/media/favicon.ico
        Alias /dyncss {{ service_base_path }}/django/media/dyncss
        Alias /media-archives {{ service_base_path }}/django/media

        <Directory {{ service_base_path }}/django/media/>
           Require all granted
        </Directory>

        # Redirect all URLs not related to account, admin or media to /account
#        RewriteEngine on
#        RewriteCond %{REQUEST_URI} "^/(?!account(?!/edit)|media|dyncss|admin|favicon.ico)"
#        RewriteRule ^ "/account" [L,R=301]

        WSGIScriptAlias / {{ web_path }}/wsgi.py
        WSGIDaemonProcess {{ service_vhost_name }} user={{ database_user }} python-path={{ service_base_path }}/django python-home={{ service_base_path }}/django
        WSGIProcessGroup {{ service_vhost_name }}

        <Directory {{ web_path }}/>
          <Files wsgi.py>
            Require all granted
          </Files>
        </Directory>
