from django.utils.functional import SimpleLazyObject
from django.shortcuts import render
from django.conf import settings

# This is the whole site navigation structure. Stick in a smarter file?
sitenav = {
    'account': [
        {'title': 'Your account', 'link': '/account'},
        {'title': 'Profile', 'link': '/account/profile'},
        {'title': 'Mailing List Subscriptions', 'link': 'https://{{ service_vhost_name_pglister }}'},
{% if members_url is defined %}
        {'title': 'Members', 'link': '{{ members_url }}'},
{% endif %}
        {'title': 'Change password', 'link': '/account/changepwd/'},
        {'title': 'Logout', 'link': '/account/logout'},
    ],
}


def get_nav_menu(section):
    if section in sitenav:
        return sitenav[section]
    else:
        return {}


def render_pgweb(request, section, template, context):
    context['navmenu'] = get_nav_menu(section)
    return render(request, template, context)


def _get_gitrev():
    # Return the current git revision, that is used for
    # cache-busting URLs.
    try:
        with open('.git/refs/heads/master') as f:
            return f.readline()[:8]
    except IOError:
        # A "git gc" will remove the ref and replace it with a packed-refs.
        try:
            with open('.git/packed-refs') as f:
                for l in f.readlines():
                    if l.endswith("refs/heads/master\n"):
                        return l[:8]
                # Not found in packed-refs. Meh, just make one up.
                return 'ffffffff'
        except IOError:
            # If packed-refs also can't be read, just give up
            return 'eeeeeeee'


# Template context processor to add information about the root link and
# the current git revision. git revision is returned as a lazy object so
# we don't spend effort trying to load it if we don't need it (though
# all general pages will need it since it's used to render the css urls)
def PGWebContextProcessor(request):
    gitrev = SimpleLazyObject(_get_gitrev)
    if request.is_secure():
        return {
            'link_root': settings.SITE_ROOT,
            'do_esi': settings.DO_ESI,
            'gitrev': gitrev,
        }
    else:
        return {
            'gitrev': gitrev,
            'do_esi': settings.DO_ESI,
        }
