#!/bin/bash

sudo mkdir -p {{ service_base_path }}/media/dyncss/
sudo cat {{ service_base_path }}/media/css/main.css > {{ service_base_path }}/media/dyncss/base.css
sudo cat {{ service_base_path }}/media/css/normalize.css >> {{ service_base_path }}/media/dyncss/base.css
sudo chown list:www-data {{ service_base_path }}/media/dyncss/base.css
